/* You can add global styles to this file, and also import other style files */
*{
    text-align: center;
    font-weight: bold;
    font-size: 180px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}